// Define variable defaults
//$body-bg: #000;
//$body-color: #111;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
//@import 'node_modules/bootstrap/scss/bootstrap.scss';
//@import 'node_modules/bootstrap-vue/src/index.scss';

.z-index-777 {
  z-index: 777;
}

.z-index-999 {
  z-index: 999;
}

.project {
  min-height: 500px;
}

.width-100 {
  width: 100%;
}
#apexchartsha63qlal{
  color: black;
}
tspan{
  fill: white;
}
.mb-10 {
  margin-bottom: 10px !important;
}

.psi-switch {
  padding-left: 2.25rem !important;
}

.card {
  background: #151a54;
}

.project-status {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
}

.banner-kyc {
  height: 60px;
  width: 35px;
  position: absolute;
  top: 0;
  right: 10px;
}
.banner-audit {
  height: 60px;
  width: 35px;
  position: absolute;
  top: 0;
  right: 50px;
}

.modal.modal-transparent .modal-content {
  background: transparent;
}
.apexcharts-tooltip.apexcharts-theme-light{
  color: black;
}
.btn-info.btn-simple.active:hover, .btn-info.btn-simple.active:focus, .btn-info.btn-simple.active:active, .btn-info.btn-simple.active:not(:disabled):not(.disabled):active {
    background-image: -webkit-gradient(linear, right top, left bottom, from(#31daf3), color-stop(#14baba), to(#31daf3)) !important;
    background-image: linear-gradient(to bottom left, #31daf3, #14baba, #31daf3) !important;
    background-image: -moz-linear-gradient(to bottom left, #31daf3, #14baba, #31daf3) !important;
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info:active:focus, .btn-info:active:hover, .btn-info.active:focus, .btn-info.active:hover{
      background-image: -webkit-gradient(linear, right top, left bottom, from(#31daf3), color-stop(#14baba), to(#31daf3)) !important;
    background-image: linear-gradient(to bottom left, #31daf3, #14baba, #31daf3) !important;
    background-image: -moz-linear-gradient(to bottom left, #31daf3, #14baba, #31daf3) !important;
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-info.btn-simple {
  color: #31daf3;
    border-color: #31daf3;
    background: transparent;
}
.width-112{
  width: 112px;
}

